// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$brown: #774F38;
$white: #fff;
$well: #D5DED9;
$links: #7A6A53;
$hover: #E08E79;

$font-bd: Georgia, "Times New Roman", Times, serif;
$bold: bold;

$none: none;
$zero: 0;


h1, h2, h3, h4, h5, h6 {
  color: $brown;
  font-weight: $bold;
}

a {
  color: $links;
}

.container-fluid {
  padding: $zero;
  
  .jumbotron {
    border: $none;
    padding: 0;
    background: $none;
  }

  img {
    max-width: 100%;
    border: $none;
  }
}

a:hover {
  color: $hover;
}

.well {
  background-color: $well;
}

img {
  margin-bottom: 1.3em;
  border: 4px solid $brown;
}

.btn {
  background-color: $brown;
  border: 0;
  margin-bottom: 1em;
  color: $white;
}

.btn:hover {
  background-color: $hover;
  color: $white;
}

.btn a:hover {
  color: $white;
}

p {
  font-family: $font-bd;
}

button a {
  color: $white;
}

.single-img {
  margin-top: 3em;
}
