// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$brown: #341b1b;
$font-bd: Georgia, "Times New Roman", Times, serif;

.container {

  h1, h2, h3, h4, h5, h6 {
    color: $brown;
  }

  img {
    margin-bottom: 1.3em;
  }

  .btn {
    background-color: $brown;
    border: 0;
    margin-bottom: 1em;
  }

  p {
    font-family: $font-bd;
  }
}