<div class="row">
  <div class="col-lg-9">
    <img class="img-responsive" src="http://static.donquijote.org/images/tops/520/colombian-coffee.jpg" alt="coffee picture" />
  </div>
  <div class="col-lg-3">
    <h3><%= @product.name %></h3>
    <button type="button" class="btn btn-info">$<%= @product.price %></button>
    <p><%= @product.description %></p>
    <button type="button" class="btn btn-primary btn-block">Buy Me</button>
  </div>
</div>