<div class="row">
<% @suppliers.each do |supplier| %>
<div class="col-lg-4">
<div class="well well-lg">
  <p><%= supplier.name %></p>
  <p><%= supplier.email %></p>
  <p><%= supplier.phone %></p>
  </div>
  </div>
<% end %>
</div>