<!DOCTYPE html>
<html>
<head>
  <title>Coffee Shop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
<div class="jumbotron">
<img src="https://images.unsplash.com/photo-1442411210769-b95c4632195e?fit=crop&fm=jpg&h=750&ixjsv=2.0.0&ixlib=rb-0.3.5&q=80&w=1450" alt="hero image with coffee beans" />
</div>
</div>

<div class="container">
<%= yield %>
</div>

</body>
</html>
